/* ***************************FONT*****************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@300&display=swap');
/* font-family: 'Italianno', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Noto Serif Display', serif;  */
*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
  
}

/* *****************navbar******************* */
.header{
    width: 100%;
    min-height: 95vh;
    background-color: rgb(24, 25, 26);
    overflow: hidden;
    margin-bottom:0% ;
}
 .navbar
{   position: fixed;
    z-index: 999;
    width: 100%;
    min-height: 50px;
    color: rgb(23, 21, 41);
    padding: 0 10%;
    background-color: rgb(154, 214, 15);
    align-items: center;
    display: flex;
}

.navbar .left
{
    transition: all 0.4s ease-in-out;

    width: 55%;
    float: left;
}
.navbar .left .logo
{font-family: 'Noto Serif Display', serif;
font-size: 1.2rem;
font-weight: 600;
}

.column{
    transition: all 0.4s ease;
     box-shadow: 0 4px 8px 0 rgba(32, 31, 31, 0.2), 0 6px 20px 0 rgba(39, 36, 36, 0.19);
 }
.column:hover{
   
    transform: translateY(-20px);
   transition: all 0.4s ease;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.column img:hover{
  
    box-shadow: 0 4px 8px 0 rgba(2, 2, 2, 0.2), 0 6px 20px 0 rgba(5, 5, 5, 0.19);
}
.navbar .right
{
    transition: all 0.4s ease-in-out;

    width: 45%;
    float: left;
}
.navbar .right ul
{
    transition: all 0.4s ease-in-out;

    display: flex;
    justify-content: space-between;
}
.navbar .right ul li
{
    transition: all 0.4s ease-in-out;

    position: relative;
}

.navbar .right ul li a
{
    color: rgb(23, 21, 41);
    font-size: 1rem;

    padding: 00.1rem 0.3rem;
    border-radius: 5px;
    transition: all 0.4s ease;
    z-index: 1;
}
.navbar .right ul li a:hover
{
    color: rgb(154, 214, 15);
    z-index: 2;

}
.fa{
    display: none;
}

.navbar .right ul li::before{
    content: '';
    position: absolute;
    width: 0%;
    height: 0;
    padding: 00.6rem 0.3rem;
    border-radius: 5px;
    bottom: -25%;
    left: -12%;
    padding: 10px 8px;
    /* background-color: rgb(24, 25, 26); */
    color: rgb(154, 214, 15);
    transition: all 0.4s ease;

    z-index: -2;



}

.navbar .right ul li:hover::before

{
    width: 100%;
    height: 15px;
    background-color: rgb(76, 78, 78);
    color: rgb(154, 214, 15);

}

.container{
  padding:15%  ;
}
.container .hero{
    margin-right:  ;
    text-align: center;
   }
.container .hero h1

{
    color: white;
    font-size: 1rem;
}

.container .hero h1 span

{
    color:rgb(154, 214, 15);
    font-size: 5rem;
}

button{
    padding: 2px 20px;
    border-radius: 50px;
    outline: none;border: 1px solid transparent;
    transition: all 0.5s ease;
    font-size: 3rem;
    
}
.hero a .button span
{
    text-align: center;
}
button:hover{

    color:rgb(154, 214, 15) ;
    background-color: transparent;
    border:1px solid rgb(154, 214, 15);

}
/* *****************************************************two */
.two{
    width: 100%;
    min-height:60vh ;
    background: rgb(153, 150, 150);
   padding-top:2% ;

}
.container-2
{
    margin-top: 3rem;
}

.title

{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title h3
{ position: relative;
    font-size: 4rem;
    color: rgb(24, 25, 26)rgb(24, 25, 26);
}

.title h3::after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: rgb(24, 25, 26);
    left: 0%;
    bottom: 0%;
}
.title h3::before
{
    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    background-color: rgb(24, 25, 26);
    left: 8%;
    bottom: -10%;
  

}
.col
{
    width: 100%;
   padding:1rem 1rem;
   min-height: 90vh;
   display: flex;
   align-items: center;
   
}
.col .col-1
{
    width: 50%;
    height: auto;
    float: left;
    overflow: hidden;
    display: flex;
justify-content: center;
}
.col .col-2
{
    width: 50%;
    height: auto;
    float: left;
    overflow: hidden;
    padding-right: 7%;

}
.col .col-1 img
{
width: 400px;
background-size: cover;

}
.col .col-2 h1{
    font-size: 2rem;
}

.col .col-2 p
{
 font-size: 1rem;
 margin-right: 20%;
 margin-bottom: 5%;
}
.btn
{
    background-color: rgb(20, 20, 20);
    color: white;
    font-size: 1rem;
}
.btn:hover
{
    background-color: transparent;
    color: rgb(27, 25, 25);
    border: 1px solid rgb(27, 25, 25);
}


/* ************************************************************************ */
/* ************************************************************************ */
/**************************************** third */


.third
{
    background-color:rgb(24, 25, 26) ;
    width: 100%;
    min-height:95vh ;
    overflow: hidden;
}
.head


  h4
{
    padding-top: 2rem;
    text-align: center;
    color: seashell;
    font-size: 3rem;
    position: relative;
}
 h4::before
{
    content: '';
    position: absolute;
    width:11%;
    height: 1px;
    background-color: seashell;
    bottom: 0%;
    align-items: center;
}
h4::after
{
    content: '';
    position: absolute;
    width:9%;
    height: 1px;
    background-color: seashell;
    bottom: -10%;
    justify-content: center;
    right: 45%;
  
}


.gallary{
    width: 100%;
    height: auto;
    margin-top: 4rem;
}

.gallary .column
{
    width: 25%;
    height: 300px;
    justify-content: center;
    display: block;
    text-align: center;
    margin: 1rem 0;
    color: white;
    float: left;
    overflow: hidden;
}
.gallary .column img{
    height: auto;
}

.contact
{
    width: 100%;
    height: 60vh;
    overflow: hidden;
}


.contact .head-title
{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    margin-top: 1REM;
    margin-bottom: 3REM;
}
.contact .head-title h1

{ 
    position: relative;
}


.contact .head-title h1::after 
{
 content: '';
 width: 100%;
 height: 1px;
 background:rgb(24, 25, 26);
 position: absolute;
 bottom: 0;
 left: 0%;
}

.contact .head-title h1::before
{
 content: '';
 width: 80%;
 height: 1px;
 background:rgb(24, 25, 26);
 position: absolute;
 bottom: -8%;
 left: 8%;
}



.contact h1,
.contact h1 i{
    text-align: center;
    
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px;

}







.c-d
{ margin: 2rem;
    
    
}
.c-d i,
.c-d h3
{
display: block;
display: flex;
justify-content: center;
align-items: center;
margin: 20px;
}
.c-d h3 span{
    margin-right: 10px;
    font-size: 25px;
    font-family: 600;
    font-weight: bold;
}

.footer
{
    width: 100%;
    height:5vh;
    background-color: rgb(24, 25, 26);
}
.footer h5{
    color: white;
    text-align: center;
    padding: 10px 0; 
}
.footer h5 i
{

display: contents;
}
@media only screen and (max-width: 1000px) 

{
    .gallary .column
    {
        width: 33%;
        justify-content: center;
        float: left;
        text-align: center;
        margin: 1rem 0;
        color: white;
    }
    
}










@media only screen and (max-width: 800px) 
{
    .gallary{
        width: 100%;
        height: auto;
        margin-top: 4rem;
        
    }
    
    .gallary .column
    {
        width: 50%;
        justify-content: center;
        float: left;
        text-align: center;
        margin: 1rem 0;
        color: white;
    }
    
}


/* *****************************************************************************600 */
@media only screen and (max-width: 600px) 
{
  
  
    
    /*-------------------------------------------two */
    .col{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0;
      
    }
    .col .col-1{
      
     margin-top: 0;
     margin-bottom: 1rem;
     
        
    }

    .col .col-1 img
{
width: 190px;
margin-top: 50px;

    .col .col-2{
        width: 100%;
        float: right;
        align-items: center;
    }
    .col .col-2 p
{
 font-size: 10px;
 text-align: center;
 margin-top: 1rem;


}
    
.col .col-2 h1
{
    text-align: center;
}
    
    
    
   a{
       margin-top: 2rem;
        align-items: center;
        justify-content: center;
       display: flex;
       text-align: center;
      
    }
    
    
    
    
    
    
    
    
    
    
    
    
    .hero{
        padding-top:50% ;
    }
    
    .navbar .left
    {
        
        width:100%;
        float: left;
    }

    .navbar .left .logo
    {
        padding-top:0.5rem ;
        justify-content: center;
        text-align: center;
    }
    .navbar .right
{
    transition: all 0.4s ease-in-out;

    width: 100%;
    float: left;
}
.navbar{
    display: block;
}

}



/* *******************************************************************************300 */

@media only screen and (max-width: 568px) 
{
    .navbar .right ul
{
    display: block;
    justify-content: space-between;
    text-align:left;

}
.navbar{
    height: 30px;
}
.navbar .right ul li:hover::before

{
    width: 80%;
    height: 20px;
    background-color: rgb(76, 78, 78);
    color: rgb(154, 214, 15);
    bottom: 0;

}
.navbar .right .bg
{
 position: fixed;
 left: -40%;
 top: 30vh;
 z-index: -1;
    width: 50%;
    height: 15ccccvh;
    background-color:transparent;
    overflow: hidden;
}
.navbar .right .bg:hover
{
    left:0;
    background-color: rgb(154, 214, 15);
}
.fa{
   margin-left:10px ;
   
}
.fa1{
   top: -30%;
    margin-left:85%;
    position: absolute; 
    color: rgb(154, 214, 15);  
    font-size: 1.5rem;
 }
 .fa2{
     position: absolute;
    margin-left: 6rem ;   
    margin-top:0 ;
 }
a{
    font-size: 1rem;
}

.navbar .right ul li a{
    font-size: 20px;
    display: flex;
    padding: 10px;
}



/* .hero span
{
    font-size: 1rem;
} */
.container .hero h1 

{
    margin-top: 30%;
    line-height: 3;
    
}

.container .hero h1 span

{
    
    color:rgb(154, 214, 15);
    font-size: 2rem;
}


}
.gallary{
    width: 100%;
    height: auto;
    margin-top: 4rem;
}

.gallary .column
{
    width: 100%;
    justify-content: center;
    display: block;
    text-align: center;
    margin: 1rem 0;
    color: white;
}



.col
{
    width: 100%;
   
   min-height: 90vh;
   display: flex;
   align-items: center;
   text-align: center;
   
}
.col .col-1
{
    width: 100%;
  
    float: left;
    overflow: hidden;
    display: flex;
justify-content: center;
}
.col .col-2
{
    width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
    display: block;
    justify-content: center;
    
    

}
.col .col-1 img
{
width: 200px;
height: 200px;


}
.col .col-2 h1{
    font-size: 2rem;
    text-align: center;
}

.col .col-2 p
{
 font-size: 1rem;
padding-left: 20%;
 margin-bottom: 5%;
 text-align: center;
}
.btn
{
    background-color: rgb(20, 20, 20);
    color: white;
    font-size: 1rem;
    margin-bottom: 1rem;
}
.btn:hover
{
    background-color: transparent;
    color: rgb(27, 25, 25);
    border: 1px solid rgb(27, 25, 25);
}


.contact
{
    width: 100%;
    height: 70vh;
    overflow: hidden;
    justify-content: center;
}

.footer{
    height: 10vh;
}
.contact .head-title
{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 1REM;
    margin-bottom: 2REM;
}

.c-d
{ margin: 2rem;
    
    
}
.c-d i,
.c-d h3
{
display: block;
display: flex;
justify-content: center;
align-items: center;
margin: 10px;
font-size: 15px;
}
.c-d h3 span{
    margin-right: 10px;
    font-size: 22px;
    font-family: 600;
    font-weight: bold;
}

}
